{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="page-header section text-center">
    <div class="container">
        <h1>REFUND POLICY</h1>
    </div>
</section>

<section class="policy-content section">
    <div class="container container-narrow">
        <div class="policy-section">
            <h2>30-Day Money-Back Guarantee</h2>
            <p>We want you to be completely satisfied with your purchase. If you are not happy with your item for any
                reason, you have 30 days from the date of receipt to request a refund.</p>
        </div>

        <div class="policy-section">
            <h2>Hassle-Free Returns</h2>
            <p>To be eligible for a return, your item must be in the same condition that you received it, unworn or
                unused, with tags, and in its original packaging. You’ll also need the receipt or proof of purchase.</p>
            <p>To start a return, you can contact us at <strong>info@2men.it</strong>. If your return is accepted, we’ll
                send you a return shipping label, as well as instructions on how and where to send your package. Items
                sent back to us without first requesting a return will not be accepted.</p>
        </div>

        <div class="policy-section">
            <h2>Damages and Issues</h2>
            <p>Please inspect your order upon reception and contact us immediately if the item is defective, damaged or
                if you receive the wrong item, so that we can evaluate the issue and make it right.</p>
        </div>

        <div class="policy-section">
            <h2>Exchanges</h2>
            <p>The fastest way to ensure you get what you want is to return the item you have, and once the return is
                accepted, make a separate purchase for the new item.</p>
        </div>

        <div class="policy-section">
            <h2>Refunds</h2>
            <p>We will notify you once we’ve received and inspected your return, and let you know if the refund was
                approved or not. If approved, you’ll be automatically refunded on your original payment method. Please
                remember it can take some time for your bank or credit card company to process and post the refund too.
            </p>
        </div>
    </div>
</section>
{% endblock %}